body {
    background-image: url('../img/bar.jpeg');
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

.container-fluid {
    background: black;
    background-color:rgba(0, 0, 0, 0.8);
}

.section {
    display: block;
    color: white;
    height: 20%;
}

.btn {
    width: 25%;
    font-size: 50px;
    opacity: 1 !important;
}

.btn-group {
    opacity: .8;
    width: 100%;
}

.min-rating {
    font-size: 40px !important;
}

.bars {
    height: 20%;
}

.bar-buttons {
    min-width: 20%;
    max-width: 20%;
    font-size: 40px;
    background: black;
    background-color: rgba(0, 0, 0, 0.5);
    height: 150px;
    color: white;
}

.btn-range {
    width: 33% !important;
}
