body {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url('../img/bar.jpeg');
}

.top {
    background: black;
    opacity: .65;
    /*width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;*/
}
.center-button {
    margin-top: 5%;
    margin-bottom: 5%;
    /*background: black;*/
}

.btn-xl {
    min-width: 50%;
    font-size: 70px;
}

.dropdown-item {
    font-size: 43px;
}

.placeholder {
    width: 100%;
}
